<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url('static',filename='Semantic-UI/semantic.min.css') }}">
  </link>
  <script src="{{ url('static',filename='Semantic-UI/semantic.min.js') }}"></script>
  <script src="{{ url('static',filename='client.js')}}"></script>
</head>


<body>
  <div class="ui center  menu">
    <a class="active item" href="{{ url('main')}}">
      Home
    </a>
    <a class="item" href="{{ url('history') }}">
      History
    </a>
  </div>

  {% block content %}
  {% endblock %}
</body>

</html>